---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Nosotros from '../components/Nosotros.astro';
import Galeria from '../components/Galeria.astro';
import Contacto from '../components/Contacto.astro';
import Footer from '../components/Footer.astro';

const { lang = 'es' } = Astro.props;
---

<Layout lang={lang} title="Nomads Garden Market">
  <Navbar lang={lang} />
  
  <main class="bg-[#111]">
    <Hero lang={lang} />
    <Nosotros lang={lang} />
    <Galeria lang={lang} />
    <Contacto lang={lang} />
  </main>

  <Footer lang={lang} />
</Layout>
